.sectionBanner {
    background: url(https://static.vecteezy.com/ti/vetor-gratis/p3/2217896-cinema-wallpaper-social-media-message-vector-background-vetor.jpg) no-repeat;
    background-size: cover;
    background-position: 0 55%;
    position: relative;
    margin-top:100px;
}

.intro {
    position: relative;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;
    padding-bottom:5em;
    text-align: center;

}

.formInput {
    text-align: center;
}

.nomeATT, .generoATT, .diretorATT, .classificacaoATT, .posterATT {
    width:50%;
    background-color: #FFF;
    text-align: center;
    border-radius:5px;
    border-color: transparent;
    font-size:18px;
    margin-top:1rem;
}

.enviar {
    width:25%;
    background-color: rgb(121, 121, 121);
    text-align: center;
    border-radius:5px;
    border-color: transparent;
    font-size:18px;
    margin-top:1rem;
    cursor: pointer;
}