* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logoAnimated img {
  width:10rem;
}

.introduction h1 {
  font-size:3rem;
  color: #FFFFFF;
}

.introduction p {
  font-size:2rem;
  color:#FFFFFF;
}

.filmesCartaz {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.filmesCartaz .carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-top:1rem;
}

.filmesCartaz .carousel ::-webkit-scrollbar {
  display: none;
}

.filmesCartaz .carousel .item {
  background-color: #333333;
  margin: 10px;
  padding: 10px;
  width: 280px;
  border-radius: 16px;
  flex: none;
}

.filmesCartaz .carousel .item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.filmesCartaz .carousel .item .info {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filmesCartaz .carousel .item .info span {
  display: block;
  text-align: center;
  color: #1E1E1E;
  padding: 5px;
  border-radius: 10px;
}

.filmesCartaz .carousel .item img {
  width: 100px;
  height: 200px;
}

.filmesCartaz .carousel .item .info .titulo {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
  color: #ffffff;
}

.filmesCartaz .carousel .item .info .diretor {
  font-size: 1rem;
  flex-grow: 1;
  color: #ffffff;
}

.filmesCartaz .carousel .item .info .detalhes {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
   list-style:none;
  background-color: #FFFFFF;

}

.filmesCartaz .carousel .item .info .detalhes a {
  text-decoration: none;
}

.filmesCartaz .buttons {
  width: 100%;
  text-align: center;
}

.filmesCartaz .buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.filmesCartaz .buttons button:first-child img {
  transform: rotate(180deg);
}

.image {
  width: 260px;
  height: 360px;
  opacity: 70%;
  transition: 0.5s;
}

.image:hover {
  opacity: 100%;
  cursor: pointer;
}

.buttons img {
  width: 75px;
}