.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: rgb(66, 65, 65);
}

.navbar h2 a {
    opacity:1;
}

.navbar ul {
    display: flex;
    gap: 1rem;
}

.new-btn {
    font-weight: bold;
    border: 1px solid #FFF;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    opacity: 1;
}